<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block header%}
    {%end%}
</head>
<body>

<div id="wrapper" class="{%if login_user.pin_nav == 1%}toggled{%end%}">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span style="float: left;">
                    <a href="#">
                        <span class="glyphicon glyphicon-menu-hamburger side-bar-hidden" style="display: inline" aria-hidden="true">
                        </span>
                    </a>
                </span>
                <span style="float: right">
                    <a href="#">
                        <span id="lock-side-bar"
                              class="glyphicon {%if login_user.pin_lock == 1%}glyphicon-lock{%else%}glyphicon-pushpin{%end%}"
                              style="margin-right: 20px" aria-hidden="true">
                        </span>
                    </a>
                </span>
            </li>


            <div class="side_bar_menu_group">
                <div class="side_bar_menu_parent">
                    <li class="side-bar-menu">
                        <a href="#" class="side_bar_menu_link">系统
                            <span class="side_bar_menu_right"><span class="side_bar_parent_arrow glyphicon {%block system_parent_menu%}{%end%}"></span></span>
                        </a>
                    </li>
                </div>
                <div class="side_bar_menu_children {%block system_children_menu%}{%end%}">
                    {% if login_user.user_right & 0B001 != 0 %}
                    <li id="user_list_menu" class="side-bar-condition-hidden side-bar-menu {%block user_list_menu%}{%end%}">
                        <a href="#"><span class="glyphicon glyphicon-menu-right"></span>用户列表</a>
                    </li>
                    {% end %}
                    <li id="personal_menu" class="side-bar-condition-hidden side-bar-menu {%block personal_menu%}{%end%}">
                        <a href="#"><span class="glyphicon glyphicon-menu-right"></span>个人信息</a>
                    </li>
                </div>
            </div>

            <div class="side_bar_menu_group">
                <div class="side_bar_menu_parent"></div>
                <li class="side-bar-menu">
                    <a href="#" class="side_bar_menu_link">房源
                        <span class="side_bar_menu_right"><span class="side_bar_parent_arrow glyphicon {%block room_parent_menu%}{%end%}"></span></span>
                    </a>
                </li>
                <div class="side_bar_menu_children {%block room_children_menu%}{%end%}">
                    <li id="room_list_menu" class="side-bar-condition-hidden side-bar-menu {%block room_list_menu%}{%end%}">
                        <a href="#"><span class="glyphicon glyphicon-menu-right"></span>客房列表</a>
                    </li>
                </div>
            </div>

            <div class="side_bar_menu_group">
                <div class="side_bar_menu_parent">
                    <li class="side-bar-menu">
                        <a href="#" class="side_bar_menu_link">订单
                            <span class="side_bar_menu_right"><span class="side_bar_parent_arrow glyphicon {%block order_parent_menu%}{%end%}"></span></span>
                        </a>
                    </li>
                </div>
                <div class="side_bar_menu_children {%block order_children_menu%}{%end%}">
                    <li id="order_list_menu" class="side-bar-condition-hidden side-bar-menu {%block order_list_menu%}{%end%}">
                        <a href="#"><span class="glyphicon glyphicon-menu-right"></span>订单列表</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>

    {% block body_navigate %}
    {% end %}

    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block body_content %}
            {% end %}
        </div>
    </div>
</div>

<script src="/static/js/private/public.js"></script>
<script src="/static/js/private/toggle_sidebar.js"></script>
<script src="/static/js/private/page_partition.js"></script>

{% block body_tail %}
{% end %}

<div class="alert-top">
</div>

</body>
</html>