.side-bar-hidden {

}

.side-bar-condition-hidden {

}

.side-bar-show {

}

.side-bar-toggle {

}

.hidden-self {
    visibility: hidden;
}

.no-display {
    display: none;
}

.chosen-menu {
    background: rgba(255, 255, 255, 0.2)
}

.side-bar-menu {

}

.black-tool-tip {

}

.td-middle {
    text-align: center;
    vertical-align: middle;
}

.alert-top {
    position: fixed;
    top: 10%;
    right: 1%;
    width: 30%;
    z-index: 999;
}

.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}



.side_bar_menu_group {

}

.side_bar_menu_parent {

}

.side_bar_parent_link {

}

.side_bar_menu_right {
    float: right;
    margin-right: 10px;
}

.side_bar_parent_arrow {

}

.side_bar_menu_children {

}