{% extends '../nav_base.html' %}

{% block header %}
<title>节点监测</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="/static/css/bootstrap-dialog/bootstrap-dialog.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/private/left/simple-sidebar.css">
<link rel="stylesheet" href="/static/css/private/left/align.css">
<link rel="stylesheet" href="/static/css/private/pages/monitor.css">

<!-- Bootstrap Core JS -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select/bootstrap-select.js"></script>
<script src="/static/js/bootstrap-dialog/bootstrap-dialog.min.js"></script>
{% end %}

{% block monitor_list_menu %}
chosen-menu
{% end %}

{% block body_navigate %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="expand-side-bar"
               class="navbar-brand side-bar-show {% if login_user.pin_nav == 1 %}hidden-self{% end %}" href="#">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <span class="navbar-brand">节点监测</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/monitor_list">监测列表</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">查看监测</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ login_user.user_name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% end %}


{% block body_content %}
<div class="form-group">
    <div class="form-box">
        <label class="title">服务基本信息:</label>
        <div class="box">
            <table id="tbl_service_base_info" class="table table-striped table-hover">
                <tbody>
                <tbody>
                <tr>
                    <td width="10%">服务ID:</td>
                    <td id="td_service_id" width="80%">{{ base.id }}</td>
                </tr>
                <tr>
                    <td width="10%">服务名称:</td>
                    <td id="td_service_name" width="80%">{{ base.service_name }}</td>
                </tr>
                <tr>
                    <td width="10%">管理账号:</td>
                    <td id="td_manager" width="80%">{{ base.ssh_user + '@' + base.ssh_ip + ':' + base.ssh_port }}</td>
                </tr>
                <tr>
                    <td width="10%">报警邮箱:</td>
                    <td id="td_mail_receiver" width="80%">{{ base.mail_receiver }}</td>
                </tr>
                <tr>
                    <td width="10%">依赖服务:</td>
                    <td id="td_rely_services" width="80%">
                        {% if len(rely) > 0 %}
                        {% for item in rely[:1] %}
                        <a href="/view_monitor?service_id={{ item.id }}">{{ item.service_name }}</a>
                        {% end %}
                        {% end %}
                        {% if len(rely) > 1 %}
                        {% for item in rely[1:] %}
                        ,<a href="/view_monitor?service_id={{ item.id }}">{{ item.service_name }}</a>
                        {% end %}
                        {% end %}
                    </td>
                </tr>
                <tr>
                    <td width="10%">监测状态:</td>
                    <td id="td_is_active" width="80%">
                        {% if base.is_active %}
                            <img src="/static/images/running.gif" alt="是">
                        {% else %}
                            <img src="/static/images/stop.png" alt="否">
                        {% end %}
                    </td>
                </tr>
                <tr>
                    <td width="10%">启动命令:</td>
                    <td id="td_start_cmd" width="80%">{{ base.start_cmd }}</td>
                </tr>
                <tr>
                    <td width="10%">停止命令:</td>
                    <td id="td_stop_cmd" width="80%">{{ base.stop_cmd }}</td>
                </tr>
                <tr>
                    <td width="10%">重启命令:</td>
                    <td id="td_restart_cmd" width="80%">{{ base.restart_cmd }}</td>
                </tr>
                <tr>
                    <td width="10%">创建时间:</td>
                    <td id="td_add_time" width="80%">{{ base.create_time }}</td>
                </tr>
                <tr>
                    <td width="10%">创建账户:</td>
                    <td id="td_belong_user" width="80%">{{ base.user_email }}</td>
                </tr>
                <tr>
                    <td width="10%">监测时间:</td>
                    <td id="td_monitor_time" width="80%">1970-01-01 00:00:00</td>
                </tr>
                <tr>
                    <td width="10%">健康状态:</td>
                    <td id="td_monitor_status" width="80%"><img src="/static/images/white.png"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-box col-xs-12">
    <hr/>
    <label class="title">判断健康条件（不满足时发送邮件报警）:</label>
    <div class="box">
        <table id="tbl_body_healthy" class="table table-bordered table-hover healthy_check_table">
            <thead>
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">监测时间</th>
                <th style="text-align: center">健康状态</th>
                <th style="text-align: center" width="60%">执行命令</th>
                <th style="text-align: center">监测服务器执行</th>
                <th style="text-align: center">判断条件</th>
                <th style="text-align: center">值</th>
            </tr>
            </thead>
            <tbody>
            {% for check in healthy %}
            <tr>
                <td style="text-align: center">{{ check.id }}</td>
                <td style="text-align: center">1970-01-01 00:00:00</td>
                <td style="text-align: center"><img src="/static/images/white.png"/></td>
                <td width="60%">{{ check.check_shell }}</td>
                <td style="text-align: center">
                    {% if check.local_check %}
                    是
                    {% else %}
                    否
                    {% end %}
                </td>
                <td style="text-align: center">{{ check.operator }}</td>
                <td style="text-align: center">{{ check.check_value }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
    <hr/>
    <label class="title">判断健康条件（不满足时需重启服务）:</label>
    <input id="auto_recover" type="checkbox" class="form-check-input form_change" style="margin: 0 0 0 15px;"
           {% if base.auto_recover %}checked{% end %} disabled>
    <label class="form-check-label" for="auto_recover">自动重启</label>
    <div class="box">
        <table id="tbl_body_unhealthy" class="table table-bordered table-hover unhealthy_check_table">
            <thead>
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">监测时间</th>
                <th style="text-align: center">健康状态</th>
                <th style="text-align: center" width="60%">执行命令</th>
                <th style="text-align: center">监测服务器执行</th>
                <th style="text-align: center">判断条件</th>
                <th style="text-align: center">值</th>
            </tr>
            </thead>
            <tbody>
            {% for check in unhealthy %}
            <tr>
                <td style="text-align: center">{{ check.id }}</td>
                <td style="text-align: center">1970-01-01 00:00:00</td>
                <td style="text-align: center"><img src="/static/images/white.png"/></td>
                <td width="60%">{{ check.check_shell }}</td>
                <td style="text-align: center">
                    {% if check.local_check %}
                    是
                    {% else %}
                    否
                    {% end %}
                </td>
                <td style="text-align: center">{{ check.operator }}</td>
                <td style="text-align: center">{{ check.check_value }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
    <div style="text-align: center;" class="row">
        <button id='btn_back_home' type="button" class="btn btn-primary">返回列表页</button>
        {% if login_user.user_right & 0B010 != 0 %}
        <button id='btn_edit_monitor_detail' type="button" class="btn btn-primary">编辑</button>
        {% end %}
    </div>
</div>
{% end %}


{% block body_tail %}
<script src="/static/js/private/public.js"></script>
<script src="/static/js/private/pages/view_monitor.js"></script>
{% end %}